@use "../mixins" as *;
@use "../variables/fonts-var" as *;
@use "../variables/colors" as *;

.contact-container{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 5rem 0;
    @include m-responsive(small-mobile){
        flex-direction: column;
        margin: 3rem 0;
    }
    @include m-responsive(mobile){
        flex-direction: column;
        margin: 3rem 0;
    }
    @include m-responsive(tablet){
        flex-direction: column;
        margin: 3rem 0;
    }
    @include m-responsive(laptop){
        flex-direction: column;
        margin: 3rem 0;
    }
    .info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: $fs-md;
        padding: 1.1rem;
        border: 1px solid var(--main-color-muted);
        @include m-responsive(tablet){
            width: 80%;
            flex-direction: row;
            justify-content: space-between;
        }
        @include m-responsive(laptop){
            width: 80%;
            flex-direction: row;
            justify-content: space-between;
        }


        .Call-us {
            border-bottom: 1px solid var(--main-color-muted);
            padding: 1rem 0;
            @include m-responsive(tablet){
                width: 60%;
                border-bottom: none;
                border-right: 1px solid var(--main-color-muted);
            }
            @include m-responsive(laptop){
                width: 60%;
                border-bottom: none;
                border-right: 1px solid var(--main-color-muted);
            }
        }

        h2,
        span {
            color: var(--main-color);
        }

        p{
            color: var(--text);
            margin-bottom: 0.5rem;
        }

        .call-title,
        .write-title {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            margin-bottom: 0.5rem;
            i {
                color: var(--main-color);
                padding: 0.5rem;
                font-size: $fs-xl;
            }
        }
    }

    .form-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        background: var(--bg-dark);
        box-shadow: 5px 5px 10px var(--shadow);
            @include m-responsive(small-mobile){
                width: 100%;
            }
            @include m-responsive(mobile){
                width: 100%;
            }
            @include m-responsive(tablet){
                width: 80%;
            }
            @include m-responsive(laptop){
                width: 80%;
            }
        h1 {
            color: var(--main-color);
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            font-size: $fs-xl;
            border-bottom: 1px solid var(--main-color);
            @include m-responsive(small-mobile){
                font-size: $fs-md;

            }
            @include m-responsive(mobile){
                font-size: $fs-lg;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .customer-info {
                display: flex;
                gap: 1rem;
                @include m-responsive(small-mobile){
                    flex-direction: column;
                }
                @include m-responsive(mobile){
                    flex-direction: column;
                }
                @include m-responsive(tablet){
                    flex-direction: column;
                }
                @include m-responsive(laptop){
                    flex-direction: column;
                }
            }

            input:not([type="submit"]),
            textarea {
                padding: 0.5rem;
                border: 1px solid var(--border-color);
                background: transparent;
                color: var(--text);
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;
                font-size: $fs-md;

                &:focus {
                    border: 1px solid var(--main-color);
                }
            }

            input[type="submit"] {
                padding: 0.5rem;
                background: var(--main-color);
                border: none;
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;
                color: var(--text);
                cursor: pointer;
                transition: 277ms;
                -webkit-transition: 277ms;
                -moz-transition: 277ms;
                -ms-transition: 277ms;
                -o-transition: 277ms;
                &:hover {
                    background: var(--main-color-muted);
                }
            }

            textarea {
                resize: none;
            }
        }
    }
}